@import "tailwindcss";

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  height: auto;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}

.chart-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: max-content;
  max-height:max-content;
}

.chart-wrapper {
  position: relative;
  text-align: center;
  width:22rem;
}

.chart-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.chart-center {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  font-weight: bold;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .chart-container {
    max-width: 300px;
  }

  .chart-center {
    font-size: 0.9rem;
  }
}
